<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">

			
            <h1 class="mt-5">Public APIs List Crawler</h1>
			<h2 class="mt-5">POSTMAN Intern Assignment by Hemanth Nag</h2>
			<form method="post" action="{{ url_for('action1') }}">
			<input type="submit" value="Start 'Public APIs' list scraping" name="start_scrap" />
			<input type="submit" value="View fetched data stored in database" name="view_database"/>

			</form>
			<ol style="font-family:courier;">
			<li>Click on the first button to start API extraction. Please look at command prompt for logs.</li>
			<li>Click on second button to view stored database with 640 entries. </li>
			</ol>	
			
        </div>
    </div>
</div>
</body>